.App {
  text-align: center;
  height: 100%;
  display: flex;
}
.window{
  width: 100%;
}
.show-hide{
  margin: 0px;
  padding: 0ox;
  text-align: left;
}
.hamburger{
  margin-right: 20px;
}
.input-search{
  width: 20%;
}

